
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;

}

.cancel {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #252424;
  display: flex;
  align-items: center;
  justify-content: center;
}

.members {
  padding: 0px 20px 30px;
}


.member-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 15px;
  padding: 5px 0px;
}

.user span {
  color: yellow;
  font-size: 10px;
}


.media-details{
display: flex;
align-items: center;
justify-content: space-between;
padding: 40px 30px;
}

.media img {
  max-height: 65px;
  max-width: 65px;
  border-radius: 10px;
}

.image-card {
  display: flex;
  gap: 5px;
  padding-bottom: 20px;
}

.media-count {
  max-height: 65px;
  max-width: 65px;
  border-radius: 10px;
  background-color: rgb(200, 193, 193);
  display: flex;
  align-items: center;
}

.tasks {
  position: relative;
}

.task-details {
display: flex;
align-items: center;
justify-content: space-between;
padding: 40px 30px;
}

.task-list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
}

.new-task {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 40px 30px;
  position: absolute;
  /* top: 0; */
  bottom: 1;
  
}

.two {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #ff7b00;
  display: flex;
  align-items: center;
  justify-content: center;
}

